h1 {
    text-align:center;
    background-color: #880808;
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: #AA4A44;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: #F9F6EE;
}
.imagem1 {
    width: 200px;
}
.imagemcentralizada {
 text-align: center;
}

.Patrono {
    background-color: 

}
.grifo {
   color: #120202;
    font-style: times
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
    }

nav a{
    text-transform: uppercase;
    color: black
    font-weight: 300;
    font-size: 100%;
}
nav a hover {
    color: red;
    text-decoration: underline;
}
